/* NEEDS FIXING */

@import 'tailwindcss';

/* css reset */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* bg black come easy solution ai white flash */
  background-color: black;
}

/* gestione dei componenti per il main come blocchi */
app-navbar,
app-footer,
main {
  display: block;
  width: 100%;
}
